@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body {
  margin: 0;
  font-family:'Do Hyeon', sans-serif;
  background-image: url("./background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
